.godot/
.import/
*.translation
*.tmp
*.log
*~
.DS_Store
*.os
*.dblite
export/linux/*.x86_64
export/linux/*.pck
export/linux/shadowfetch-blackjack
export/package/
export/*.tar.gz
export/*.tar.gz.sha256
export/*.debug
build/
.export/
android/
ios/
godot
tools/godot*
/tmp/
.vscode/
.idea/
*.swp
user://
app_userdata/
*.uid
docs/screenshots/*.import
